

<EditForm Model="@Company_infos" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <fieldset disabled="@Disabled">
        <div class="form-group">
            <label>Company Name: </label>
            <div>
                <InputText @bind-Value="@Company_infos.Name" class="form-control" />
                <ValidationMessage For="@(() => Company_infos.Name)" />
            </div>
        </div>

        <div class="form-group">
            <label>Mission: </label>
            <div>
                <InputTextArea @bind-Value="@Company_infos.Mission" class="form-control" />
                <ValidationMessage For="@(() => Company_infos.Mission)" />
            </div>
        </div>
        <div class="form-group">
            <label>Address: </label>
            <div>
                <InputText @bind-Value="@Company_infos.Address" class="form-control" />
                <ValidationMessage For="@(() => Company_infos.Address)" />
            </div>
        </div>

        <div class="form-group">
            <label>Contact Number: </label>
            <div>
                <InputText @bind-Value="@Company_infos.Contact" class="form-control" />
                <ValidationMessage For="@(() => Company_infos.Contact)" />
            </div>
        </div>
    </fieldset>

    @if (!Disabled)
    {
<button type="submit" class="btn btn-success btn-block">
    @ButtonText
</button>}
    <BackToList Target="Company_infos" />
</EditForm>

@code { [Parameter] public bool Disabled { get; set; } = false;
            [Parameter] public Company_info Company_infos { get; set; }
            [Parameter] public string ButtonText { get; set; } = "Save";
            [Parameter] public EventCallback OnValidSubmit { get; set; }

}