@inject HttpClient _client
@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider

<EditForm Model="@job_infos" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <fieldset disabled="@Disabled">
        <div class="form-group">
            <label>job_Category: </label>
            <div>
                <InputSelect @bind-Value="job_infos.job_CategoryId" class="form-control">
                    <option value="">-- Select Category --</option>
                    @if (job_Categorys != null)
                    {
                        foreach (var job_Category in job_Categorys)
                        {
                            <option value="@job_Category.Id">@job_Category.category </option>                        
                    }
                    }
                </InputSelect>
                <ValidationMessage For="@(() => job_infos.job_CategoryId)" />
            </div>
        </div>

        <div class="form-group">
            <label>Region: </label>
            <div>
                <InputSelect @bind-Value="job_infos.job_locationId" class="form-control">
                    <option value="">-- Select Region --</option>
                    @if (job_locations != null)
                    {
                        foreach (var job_Location in job_locations)
                        {
                            <option value="@job_Location.Id">@job_Location.location_Name </option>                        
                    }
                    }
                </InputSelect>
                <ValidationMessage For="@(() => job_infos.job_locationId)" />
            </div>
        </div>

        <div class="form-group">
            <label>Company: </label>
            <div>
                <InputSelect @bind-Value="job_infos.Company_infoId" class="form-control">
                    <option value="">-- Select Company --</option>
                    @if (Company_infos != null)
                    {
                        foreach (var Company_info in Company_infos)
                        {

                            if (Company_info.CreatedBy == _currentUserName)
                            {
                                <option value="@Company_info.Id">@Company_info.Name - @Company_info.Contact</option>                            
                            }
                        }
                    }
                </InputSelect>
                <ValidationMessage For="@(() => job_infos.Company_infoId)" />
            </div>
        </div>

        <div class="form-group">
            <label>Job Title: </label>
            <div>
                <InputText @bind-Value="@job_infos.job_title" class="form-control" />
                <ValidationMessage For="@(() => job_infos.job_title)" />
            </div>
        </div>

        <div class="form-group">
            <label>Description: </label>
            <div>
                <InputTextArea @bind-Value="@job_infos.job_description" class="form-control" />
                <ValidationMessage For="@(() => job_infos.job_description)" />
            </div>
        </div>

        <div class="form-group">
            <label>Salary: </label>
            <div>
                <InputText @bind-Value="@job_infos.job_salary" class="form-control" />
                <ValidationMessage For="@(() => job_infos.job_salary)" />
            </div>
        </div>

        <div class="form-group">
            <label>Type: </label>
            <div>
                <InputText @bind-Value="@job_infos.type" class="form-control" />
                <ValidationMessage For="@(() => job_infos.type)" />
            </div>
        </div>

        <div class="form-group">
            <label>Vacancy: </label>
            <div>
                <InputDate @bind-Value="@job_infos.no_of_vacancy" class="form-control" />
                <ValidationMessage For="@(() => job_infos.no_of_vacancy)" />
            </div>
        </div>
    </fieldset>

    @if (!Disabled)
    {
<button type="submit" class="btn btn-success btn-block">
    @ButtonText
</button>
    }
    <BackToList Target="job_infos" />
</EditForm>

@code { [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public job_info job_infos { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

    private IList<job_Category> job_Categorys;
    private IList<job_location> job_locations;
    private IList<Company_info> Company_infos;


    private List<AppUser> AppUsers;
    private IEnumerable<Claim> _claims = Enumerable.Empty<Claim>();
    private string _currentUserId;
    private string _currentUserName;

    protected async override Task OnInitializedAsync()
    {
        job_Categorys = await _client.GetFromJsonAsync<List<job_Category>>($"{Endpoints.Job_CategorysEndpoint}");
        job_locations = await _client.GetFromJsonAsync<List<job_location>>($"{Endpoints.Job_locationsEndpoint}");
        Company_infos = await _client.GetFromJsonAsync<List<Company_info>>($"{Endpoints.Company_infosEndpoint}");
        //job_info.DateOut = DateTime.Now;
        AppUsers = await
    _client.GetFromJsonAsync<List<AppUser>>($"{Endpoints.AccountsEndpoint}");
        var authState = await
        AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity.IsAuthenticated)
        {
            _claims = user.Claims;
            _currentUserName = user.Identity.Name;
            if (_claims.Count() > 0)
            {
                foreach (var claim in _claims)
                {
                    if (claim.Type == "sub")
                    {
                        _currentUserId = claim.Value;
                        continue;
                    }
                    if (claim.Type == "name")
                    {
                        _currentUserName = claim.Value;
                        continue;
                    }
                }
            }
        }
    }
    }